.heroContainer {
  margin-top: 50px;
  text-align: center;
  font-family: "Michroma", sans-serif;
  color: var(--neutral-400);
}

.introField>h1 {
  font-size: 3.5rem;
  /* font-family: "JetBrains Mono", monospace; */
}

.introField>h1>strong {
  color: orangered;
}

.helloBaloon {
  width: 120px;
  padding: 8px;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 25px;
}

.contentField {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  flex-direction: column;
}

.circleContentBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 50px;
  width: 100%;
  max-width: 2200px;
}

.textBox1, .textBox2 {
  display: block;

  max-width: 620px;
  font-size: 2rem;
  color: #363636;
}

.textBox1 {
  text-align: left;
  line-height: 3rem;
}

.textBox2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;

  &>:nth-child(1){
    font-size: 1.5rem;
    color: orangered;
  }

  &>:nth-child(2){
    width: 200px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: 2rem;
    border-bottom: 1px solid #363636;
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 35rem;
  width: 35rem;
  border-radius: 100%;
  background-color: orangered;
}

.circle>img {
  max-height: 70rem;
  max-width: 100%;
}

.headhunterBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 5px;
  margin-top: -150px;
  margin-left: 30px;
  background-color: #fff;
  border-radius: 50px;
  /* espaçamento abaixo do círculo */
}

.headhunterBtn>.portfolioBtn,
.headhunterBtn>.hireMeBtn {
  padding: 12px 18px;
  width: 200px;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

.headhunterBtn>.portfolioBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orangered;
  color: #fff;
  border: 1px solid #fff;
}

.headhunterBtn>.hireMeBtn {
  background-color: #fff;
  border: 1px solid #000;
}

.headhunterBtn>.portfolioBtn:hover {
  background-color: #000;
  transition: all ease-in-out .2s;
}

.headhunterBtn>.hireMeBtn:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  transition: all ease-in-out .2s;
}

@media screen and (max-width: 1600px) {

  .textBox1,
  .textBox2 {
    max-width: 420px;
  }

}

@media screen and (max-width: 1360px) {

  .introField>h1 {
    font-size: 2rem;
  }

  .textBox1,
  .textBox2  {
    display: none;
  }

  .circle {
    height: 30rem;
    width: 30rem;
  }

  .circle>img {
    max-height: 50rem;
    max-width: 100%;
  }

  .headhunterBtn {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    border-radius: 25px;
  }
  
}

@media screen and (max-width: 450px) {

  .circle {
    height: 20rem;
    width: 20rem;
  }

}