.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 1rem;
  margin-top: 30px;
  text-align: center;
  font-family: "Michroma", sans-serif;
  color: var(--neutral-400);
}

.introField>h1 {
  font-size: 3.5rem;
  /* font-family: "JetBrains Mono", monospace; */
}

.introField>h1>strong {
  color: orangered;
}

.helloBaloon {
  width: 120px;
  padding: 8px;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 25px;
}

.contentField {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  margin-top: 50px;
  padding-bottom: 20px;
  height: 600px;
  width: 100%;
  max-width: 1500px;
  background-image: url(../../assets/bgHero.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.mobilePhoto {
  display: none;
  height: 100%;
}

.textBox1, .textBox2 {
  display: block;

  max-width: 520px;
  font-size: 2rem;
  color: #363636;
}

.textBox1 {
  text-align: left;
  line-height: 3rem;
}

.textBox2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;

  &>:nth-child(1){
    font-size: 1.5rem;
    color: orangered;
  }

  &>:nth-child(2){
    width: 200px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: 2rem;
    border-bottom: 1px solid #363636;
  }
}

.btnsContainer {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.headhunterBtn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;

  height: fit-content;
  padding: 5px;
  background-color: #fff;
  border-radius: 50px;
}

.cvBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 18px;
  width: 200px;
  font-size: 1.3rem;
  border-radius: 25px;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  
  transition: all 0.2s ease-in-out;
}

.cvBtn:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  transition: all ease-in-out .2s;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: blue;
}

@media screen and (max-width: 1600px) {

  .textBox1,
  .textBox2 {
    max-width: 420px;
  }

}

@media screen and (max-width: 1360px) {

  .introField>h1 {
    font-size: 2rem;
  }
  
}

@media screen and (max-width: 1024px) {

  .contentField {
    flex-direction: column;
    gap: 50px;
    height: fit-content;
    background-image: none;
  }

  .mobilePhoto {
    display: block;
    order: 1;

  }

  .textBox1,
  .textBox2 {
    align-items: center;
    text-align: center;
    order: 3;
  }

  .headhunterBtn {
    flex-direction: column;
    border-radius: 25px;
    order: 2;
  }

}

@media screen and (min-width: 1280px) {

  .headhunterBtn {
    align-self: flex-end;
  }

}

