.heroContainer {
  margin-top: 40px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.introField>h1 {
  font-size: 3.5rem;
  font-family: "JetBrains Mono", monospace;
}

.introField>h1>strong {
  color: orangered;
}

.helloBaloon {
  width: 100px;
  padding: 8px;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 25px;
}

.contentField {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  flex-direction: column;
}

.circle {
  height: 30rem;
  width: 30rem;
  border-radius: 100%;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle>img {
  max-height: 50rem;
  max-width: 100%;
  object-fit: contain;
}

.headhunterBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 5px;
  margin: -150px 0;
  background-color: #fff;
  border-radius: 50px;
  /* espaçamento abaixo do círculo */
}

.headhunterBtn>.portfolioBtn,
.headhunterBtn>.hireMeBtn {
  padding: 12px 18px;
  width: 200px;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

.headhunterBtn>.portfolioBtn {
  background-color: orangered;
  color: #fff;
  border: 1px solid #fff;
}

.headhunterBtn>.hireMeBtn {
  background-color: #fff;
  border: 1px solid #000;
}

.headhunterBtn>.portfolioBtn:hover {
  background-color: #000;
  transition: all ease-in-out .2s;
}

.headhunterBtn>.hireMeBtn:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  transition: all ease-in-out .2s;
}

@media screen and (max-width: 600px) {

  .introField>h1 {
    font-size: 2.8rem;
  }

  .headhunterBtn {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
  }
  
}