.sectionSkills {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
  height: fit-content;
  width: 100%;
  padding: 20px 40px;
  margin-top: 20px;

  color: #fff;
  font-family: "Michroma",
    sans-serif;
  background-color: var(--neutral-200);
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 5px 10px #00000071;
}

.title {
  line-height: 3rem;
  padding-bottom: 20px;
  border-bottom: 1px solid #5e5e5e;

  >h2 {
    font-size: 2rem;
    font-weight: normal;
  }

  >p {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    color: #c7c7c7;
  }
}

.skillsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.frontend, .markupAndStyles, .db {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;

  &>h3{
    padding: 20px 0;
    margin-bottom: 20px;
    font-weight: 200;
  }

  &>div {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 5px 12px;
    color: #000;
    border-radius: 25px;
    background-color: #fff;
  }
  
  &>div>:first-child {
    font-size: 2rem;
  }
}

.skillItem {
  opacity: 0;
  transform: translateY(20px);
}

@media screen and (max-width: 1360px){
  .skillsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}