.workExpField {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: 1500px;
  margin-top: 100px;
  font-family: "Michroma", sans-serif;
}

.titleField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 40px 20px;
  width: 100%;
  text-align: start;

  >h2 {
    max-width: 600px;
    font-size: 2rem;
  }

  >h2>strong {
    color: orangered;
  }
}

.portfolioBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 12px 18px;
  width: 200px;
  height: fit-content;
  
  font-size: 1.3rem;
  text-align: center;
  border-radius: 25px;
  border: none;
  outline: none;
  
  background-color: orangered;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.portfolioBtn:hover {
  background-color: #000;
  transition: all ease-in-out .2s;
}

@media screen and (max-width: 600px) {

  .titleField {
    align-items: flex-start;
  }

}