.aboutField {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Michroma", sans-serif;
  background-color: var(--gray-100);
}

.aboutContainer {
  display: flex;
  align-items: center;

  max-width: 1500px;
}

.aboutContainer>.imgField {
  margin-top: 80px;
}

.aboutContainer>.contentField {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0 80px;
}

.aboutContainer>.contentField>h2>strong {
  color: orangered;
}

.aboutContainer>.contentField>.paragraphs>p {
  line-height: 1.8rem;
}

.aboutContainer>.contentField>.status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
  >p {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  
  .aboutContainer{
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
  }

  .aboutContainer>.imgField>img {
    height: 300px;
  }

  .aboutContainer>.contentField>:nth-child(6) {
    margin: auto;
  }

}