.headerContainer{
  display: flex;
  justify-content: center;
}

header{
  display: flex;

  height: fit-content;
  width: 90%;
  min-width: fit-content;
  max-width: 1500px;
  padding: 20px 40px;

  color: #fff;
  font-family: "Michroma", sans-serif;
  background-color: var(--neutral-400);
  border-radius: 100px;
  box-shadow: 0px 5px 10px #00000071;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

.logo, .skills {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: fit-content;

  &>p {
    text-align: center;
    font-size: 1.2rem;
    padding: 4px 10px;
    width: 100%;
    cursor: pointer;
    transition: all ease-in-out .3s;
    border-radius: 5px;
  }

  &>p:hover{
    color: orangered;
  }
}

.logo{
  height: 5rem;
}

.menuIcon{
  display: none;
  color: orangered;
  font-size: 2.5rem;
}

@media screen and (max-width: 830px) {

  .headerContainer {
    justify-content: flex-end;
  }

  header{
    /* Aqui esconde o menu do HEADER */
    display: none;
    border-radius: 10px;
  }

  .navBar{
    flex-direction: column;
  }

  .skills {
    flex-direction: column;
    align-items: center;
    gap: 0;

    &>p:hover {
      background-color: #fff;
    }
  }

  .logo{
    display: none;
  }

  .menuIcon {
    display: block;
  }

}