.headerContainer{
  display: flex;
  justify-content: center;
  margin: 50px 0px 100px;
  padding: 0 1rem;
}

header{
  display: flex;

  height: fit-content;
  width: 90%;
  min-width: fit-content;
  max-width: 1500px;
  padding: 20px 40px;

  color: #fff;
  font-family: "Michroma", sans-serif;
  background-color: var(--neutral-400);
  border-radius: 100px;
  box-shadow: 0px 5px 10px #00000071;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

.logo{
  height: 5rem;
}

.logo, .skills {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: fit-content;
}

.skills>a>p {
  padding: 4px 10px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: all ease-in-out .3s;
  cursor: pointer;
}

.skills>a>p:hover {
  color: orangered;
}


.menuIcon{
  display: none;
  color: orangered;
  font-size: 2.5rem;
}

.menuIcon:hover {
  scale: 1.13;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 1024px) {

  .headerContainer {
    justify-content: flex-end;
    margin: 20px 0px 50px;
  }

  header{
    border-radius: 10px;
  }

  .navBar{
    flex-direction: column;
  }

  .skills {
    flex-direction: column;
    align-items: center;
    gap: 0;

    &>p:hover {
      background-color: #fff;
    }
  }

  .logo{
    display: none;
  }

  .menuIcon {
    display: block;
  }

}

@media screen and (min-width: 1280px) {

  .headhunterBtn {
    align-self: flex-end;
  }

}