.headerContainer{
  display: flex;
  justify-content: flex-end;
}

header{
  display: flex;

  height: fit-content;
  width: 100%;
  min-width: fit-content;
  padding: 20px 40px;

  color: #fff;
  font-family: "Roboto", sans-serif;
  background-color: var(--neutral-100);
  border-radius: 100px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.softskills, .logo, .hardskills {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;

  &>p {
    text-align: center;
    font-size: 1.5rem;
    padding: 4px 10px;
    width: 100%;
    cursor: pointer;
    transition: all ease-in-out .3s;
    border-radius: 5px;
  }

  &>p:hover{
    color: orangered;
  }
}

.logo{
  height: 3rem;
}

.menuIcon{
  display: none;
  color: orangered;
  font-size: 2rem;
}

@media screen and (max-width: 600px) {

  header{
    /* Aqui esconde o menu do HEADER */
    /* display: none; */
    border-radius: 10px;
  }

  .navBar{
    flex-direction: column;
  }

  .softskills,
  .hardskills {
    flex-direction: column;
    align-items: center;
    gap: 0;

    &>p:hover {
      background-color: #fff;
    }
  }

  .logo{
    display: none;
  }

  .menuIcon {
    display: block;
  }

}