.carouselWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

/* Track que desliza */
.track {
  display: flex;
  transition: transform 0.5s ease;
}

/* Card ocupa 100% da tela */
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 0;
  min-width: 800px;;
  box-sizing: border-box;
}

/* Imagem */
.cardImage {
  width: 700px;
  height: 500px;
  border-radius: 18px;
  overflow: hidden;
  overflow: hidden;
}

.cardImage img {
  width: 100%;
  height: 100%;
  display: block;
}

/* Conteúdo */
.cardContent {
  margin-top: 1rem;
  text-align: center;
  max-width: 700px;
}

.badgesField {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}

.badges {
  width: fit-content;
  padding: 4px 20px;
  border-radius: 8px;
  color: #fff;
  background: #FF4500;
    background: linear-gradient(0deg, rgba(255, 69, 0, 1) 0%, rgba(255, 133, 89, 1) 82%, rgba(255, 69, 0, 1) 100%);
}

.cardTitle {
  color: #ff4500;
  text-align: start;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cardText {
  color: #5e5e5e;
  text-align: start;
  font-size: 1rem;
}

/* Controles */
.controls {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.arrow {
  background: #111;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 999px;
  cursor: pointer;
  font-size: 1.5rem;
}

.arrow:hover {
  background: orangered;
}

@media screen and (max-width: 600px) {

  .card {
    margin-right: 10px;
    min-width: 360px;
  }

  .cardImage {
    width: 100%;
    height: 250px;
  }

  .badgesField {
    flex-wrap: wrap;
  }

  .cardContent {
    max-width: 100%;
  }

}