.footerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  padding: 80px 40px;
  height: fit-content;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #000;
}

.footerContainer>.phrase {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 20px;
  max-width: 1500px;
  text-align: center;
}

.footerContainer>.phrase>p {
  font-size: 1.2rem;
}

.footerContainer>.phrase>p>i {
  font-weight: 200;
}


.footerContainer>.socials {
  display: flex;
  align-items: center;
  gap: 20px;

  font-size: 3rem;
}

.footerContainer>.socials>a>div{
  color: #fff;
  cursor: pointer;
}

.footerContainer>.socials>a>div:hover {
  color: orangered;
  transform: translateY(-5px);
  transition: all .3s ease-in-out;
}