@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Michroma&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Roboto", sans-serif;
font-family: "JetBrains Mono", monospace;
font-family: "Michroma", sans-serif; */

:root {
  --custom: #fff;
  --neutral-100: #3C3C3C;
  --neutral-200: #2A2E34;
  --neutral-300: #1E2328;
  --neutral-400: #171c20;
  --amber-100: #FED053;
  --amber-200: #F5B301;
  --amber-300: #F5A302;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  padding: 1rem;

  height: 100dvh;
}

main {
  display: flex;
  justify-content: center;
  /* height: 100%;
  background-color: tomato; */
}