.accordion {
  width: 100%;
  width: 100%;
  max-width: 1500px;
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--neutral-100);
}

.item {
  border-bottom: 1px solid #e5e5e5;
}

.header {
  width: 100%;
  padding: 16px;
  background-color: #f9f9f9;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header:hover {
  background: var(--neutral-100);
  color: #fff;
}

.content {
  padding: 16px;
  background: #ffffff;
  font-size: 14px;
  line-height: 1.5;
}

.icon {
  font-size: 20px;
}